.name-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#fullname-input {
  border: 1px solid #1d1d1d;
  background-color: #2d2d2d;
  padding: 10px 24px;
  border-radius: 28px;
  font-size: 15px;
  color: white;
}

#fullname-input:hover, #fullname-input:focus {
  filter: drop-shadow(0 0 0.2rem #101010);
}

#fullname-button {
  display: none;
  background-color: #3078FF;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  padding: 10px;
}