.landingpage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landingpage-subcontainer {
  display: flex;
  flex-direction: column;
}

.landingpage-header {
  position: absolute;
  top: 10px;
  left: 15px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-icon-container {
  position: relative;
  margin: 20px 0;
}

.preview-icon {
  background: linear-gradient(#595959, #373737);
  border-radius: 45px;
  width: 78px;
  height: 78px;
}

.preview-fullname {
  font-size: 18px;
}

.preview-initials {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  font-size: 30px;
}